/******** connexion ******/
.connexion, .Inscription{
    display: flex;
    justify-content: center;
    align-items: stretch;

}
.formulaire,  {
  color:white;
  color: white;
    margin: 0 auto!important;
  margin: 20px;
}

.ensemble_champ {
  display: flex;
  flex-direction: column;
}

.formulaire span, .theme span {
  font-weight:600;
  color:black;
  text-align: left;
  padding-bottom:10px;
  padding-top:15px;
}

.champs {
  padding-left:15px;
  margin-top:10px;
  margin: 0px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  color:#aaa;
}

.btn_commencer {
  background-color:#ffdd19;
  padding-top:11px;
  padding-bottom:11Px;
  font-weight:600;
  margin-top:20px;
  color:black;
  transition:0.3s;
  border:1px solid #ffbb00;
  box-shadow: 1px 2px 17px rgb(95, 95, 95);
}

.btn_commencer:hover {
  /*opacity:0.7;*/
  cursor:pointer;
  color:black;
  transition:0.3s;
  border:1px solid #ffc353;
  background-color: rgb(255, 197, 5);
  box-shadow: 1px 2px 17px #8a8a8a;
}
li{
    list-style:none;
    display: inline;
    margin: 5px;
}